<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <strong>Feel free to contact me </strong>
                      </div>
                      <div class="form-group">
                        <!-- <span class="input-group-addon">
                        <i class="fa fa-user-circle"></i>
                      </span> -->
                        <input type="text" formControlName="name" class="form-control" placeholder="Name"
                          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required"> Name is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <!-- <span class="input-group-addon">
                          <i class="fa fa-file-text"></i>
                        </span> -->
                        <input type="text" formControlName="subject" class="form-control" placeholder="Subject"
                          [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                          <div *ngIf="f.subject.errors.required">Subject is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <!-- <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span> -->
                        <input type="text" formControlName="email" class="form-control" placeholder="E-mail"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <!-- <span class="input-group-addon">
                          <i class="fa fa-file-text"></i>
                        </span> -->
                        <textarea type="message" formControlName="message" class="form-control" placeholder="Your Message"
                          [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <div *ngIf="f.message.errors.required">Message is required</div>
                          <div *ngIf="f.message.errors.minlength">Message must be at least 6 characters</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                    <!-- <form name="form" (ngSubmit)="f.form.valid ; f.resetForm()" #f="ngForm" novalidate>
                            <div class="p pb-3">
                              <strong>Feel free to contact me </strong>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-user-circle"></i>
                                  </span>
                                  <input class="form-control" type="text" name="name" placeholder="Name"
                                    [(ngModel)]="model.name" #name="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-file-text"></i>
                                  </span>
                                  <input class="form-control" type="text" name="subject" placeholder="Subject"
                                    [(ngModel)]="model.subject" #subject="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                  </span>
                                  <input class="form-control" type="text" name="email" placeholder="E-mail"
                                    [(ngModel)]="model.email" #email="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <textarea class="form-control" name="message" placeholder="Your Message"
                                    [(ngModel)]="model.message" #message="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <button class="btn btn-primary" type="submit">Send</button>
                              </div>
                            </div>
                          </form> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0">
                      <strong>Phone</strong>
                    </p>
                    <p class="pb-2">+255 719 471 826</p>
                    <p class="mb-0">
                      <strong>Email</strong>
                    </p>
                    <p>andymwamengo@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>