<div class="d-flex justify-content-center p-2">
  <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10 col-xs-12">
    <div class="container py-3">
      <div class="account-wrapper container-xxl container-xl container-lg pb-3"
        *ngIf="(fullName$ | async) as fullName;">
        <div class="d-flex justify-content-start px-2">
          <img [src]="fullName.picture" class="rounded d-block" height="100px" width="100px">
        </div>
        <div class="d-flex justify-content-start">
          <div class="fullname-container text-start py-2 px-2">
            <h4 class="">{{ fullName.fullName }}</h4>
            <i class="text-muted">{{ fullName.title }}</i>
          </div>
        </div>

        <div class="px-0 d-flex py-2 d-flex justify-content-start" *ngIf="(contact$ | async) as contact">
          <div class="" *ngFor="let item of contact.data">
            <span class="me-3 external-link" data-bs-toggle="tooltip" data-bs-placement="bottom" [title]="item.label">
              <a [href]="item.link" target="_blank" class="p-2">
                <img [src]="item.icon">
              </a>
            </span>
          </div>
        </div>
        <div class="section-break"></div>
      </div>

      <!-- <div class="contacts-wrapper px-3" *ngIf="(contact$ | async) as contact">
        <div class="column justify-content-start">


          <h5 class="underline-container">{{ contact.label }}</h5>
          <div class="py-2" *ngFor="let item of contact.data">
            {{ item.label }}:
            <a [href]="item.link" class="px-2">{{item.name}}</a>
          </div>
        </div>
      </div> -->

      <div class="project-wrapper px-2 pt-2">
        <div class="project-wrapper py-2">
          <div class="column justify-content-start">
            <div class="strongly-experience" *ngIf="(project$ | async) as project;">
              <div class="py-0">
                <h3 class="underline-container">
                  {{ project.label }}
                </h3>
                <div class="project-item-wrapper py-3" *ngFor="let item of project.data;">
                  <a [href]="item.link" class="fs-5 fw-bold">{{ item.title}}</a>
                  <small class="text-muted">&nbsp;&nbsp;{{ item.projectDate }} </small>
                  <div class="text-dark">
                    <small class="text-small">Company Name:</small> <span>{{ item.company}}</span>
                  </div>
                  <div class="text-muted py-2">
                    {{ item.description }} <i class="py-2">{{ item.spanText}}</i>
                  </div>
                  <div class="tools-wrapper my-2">
                    <div class="fw-bold">{{ item.toolLabel }}</div>
                    <div class="fs-normal text-muted">
                      <span class="badge m-1 custom-rounded-pill"
                        *ngFor="let tool of item.tools; let even = even; let odd = odd"
                        [ngClass]="{ 'text-bg-info-text': even, 'text-bg-secondary-text': odd }">{{ tool.name }}</span>
                    </div>
                  </div>
                  <div data-bs-toggle="tooltip" data-bs-placement="right" [title]="'View '+item.title">
                    <a class="reade-more-container" [href]="item.link">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skills-wrapper column flex-wrap px-2 pt-3" *ngIf="(skills$ | async) as skill">
        <h3 class="underline-container">{{ skill.label }}</h3>
        <div class="skills-wrapper py-1" *ngFor="let item of skill.data">
          <div class="column justify-content-start">
            <div class="strongly-experience">
              <div class="py-1">
                <h5 class=""> {{ item.title }}</h5>
                <span class="badge m-1 custom-rounded-pill"
                  *ngFor="let tool of item.tools; let even = even; let odd = odd"
                  [ngClass]="{ 'text-bg-info-text': even, 'text-bg-secondary-text': odd }">
                  {{ tool.name }}
                </span>
              </div>
            </div>
            <div class="strongly-experience">
              <div class="py-1">
                <h6 class="text-muted">
                  {{ item.subTitle }}
                </h6>
                <div *ngIf="item.subtools">
                  <span class="badge m-1 custom-rounded-pill"
                    *ngFor="let subTool of item.subtools; let even = even; let odd = odd"
                    [ngClass]="{ 'text-bg-info-text': even, 'text-bg-secondary-text': odd }">{{ subTool.name
                    }}</span>
                </div>
                <div class="">
                  <em class="text-muted" *ngIf="item.extraTitle">{{ item.extraTitle}}</em>
                </div>
                <div *ngIf="item.extratools">
                  <span class="badge m-1 custom-rounded-pill"
                    *ngFor="let extTool of item.extratools; let even = even; let odd = odd"
                    [ngClass]="{ 'text-bg-info-text': even, 'text-bg-secondary-text': odd }">
                    {{ extTool!.name }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="education-wrapper px-2 pt-3">
        <div class="education-wrapper py-2">
          <div class="column justify-content-start">
            <div class="strongly-experience" *ngIf="(education$ | async) as education;">
              <div class="py-1">
                <h3 class="underline-container">
                  {{ education.label }}:
                </h3>
                <div class="project-item-wrapper py-1" *ngFor="let item of education.data;">
                  <a [href]="item.website" class="fs-5 fw-bold">{{ item.institution}}</a>
                  <div class="text-muted py-1">
                    {{ item.programme }}
                  </div>
                  <div class="my-1 fst-normal text-muted d-flex">
                    <span class="badge m-1 custom-rounded-pill text-bg-info-text">{{ item.startDate }}</span> <span
                      class="m-1">-</span>
                    <span class="badge my-1 custom-rounded-pill text-bg-secondary-text">{{ item.endDate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="px-2 pt-3">
          <div class="py-2" *ngIf="(interest$ | async) as interest;">
            <h4 class="underline-container">{{ interest.label }}</h4>
            <div class="py-1">
              <div class="fst-normal text-muted">
                <span class="badge m-1 custom-rounded-pill"
                  *ngFor="let item of interest.data; let even = even; let odd = odd"
                  [ngClass]="{ 'text-bg-info-text': even, 'text-bg-secondary-text': odd }">
                  {{ item.name }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container footer-text-muted">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-wrap py-3">
      ©{{currentYear}} &nbsp;<a href="https://andymwamengo.com">Andongwisye Mwamengo</a>&nbsp; All rights reserved.
    </div>
  </div>
</div>