.text-secondary {
  color: #FFFF;
}

.text-info {
  color: #FFFF;
}

.custom-rounded-pill {
  color: red;
  border: #818181 solid 1px;
}

/* Section Break 1 */
.section-break {
  width: 100%;
  border-top: 1px solid rgb(233, 231, 231);
}

.text-bg-info-text {
  color: #363434;
  font-weight: 300;
  background-color: #FFFF;
}

.text-bg-secondary-text {
  color: #363434;
  font-weight: 300;
  background-color: #FFFF;
}

.reade-more-container {
  text-decoration: underline;
  color: #363434;
  font-size: 14px;
}

.underline-container {
  text-decoration: underline;
  color: #363434;
}

.text-small {
  font-size: 10px;
  font-weight: 300;
  color: #5c5c5c;
}


.footer-text-muted {
  color: #5c5c5c;
  font-weight: 200;
}

.external-link {
  cursor: pointer;
}