<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="white">
            <div class="page-header-image" data-parallax="true" style="background-color: wheat;">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="https://lh3.googleusercontent.com/F-SVMhWux-4qjpJeSHOT-8ORGDDLmAlETxKdSSa0OgW6pWlj8_EEColDcRAxwNNucGvbV5kfj4AjLskPviCcCtDtB58v0vruC4lheWfy2K9MoJMhpJoQaE2jpZjlrRMvt3n05kLJX1l2jb97GrTysy7MDn4MBkpSDcrn1WZRd0_bgXkj6hkfZu3TvncLcG7DEnMUNxASJle1iBzcoYImIuPIZgw_2mhWQ5Wj7PtUgFvjIAegP18hSkg4RfYQBMogpA-I395mB1ds1MjaGzAexlbwmBs3eREr5iryCacrUzwJm8MHNKdCE5TeBRDitBkypfwQL5E8rj2RaB2LsB21J3kdQG3V32F9sWkLjR3-jnowk2ovY6-9gADJ71BEA13ZsW8uD8qlw2S08huv9KSB_rgRQMPb8d7Sz7UjxgCGxCPLn37ekM9iOD1lv-gD2vJ29uLwTT2wspL8lzjHakbuQDo_ki4p_p1btPrC5jaOQYBmb6T-9RxGRaysyn1ZNrBfp0zWXzutyYsniPMYnvt96WUWcc_06Z1uV3eXVkE594oFsnhsWQGXW-1iSkKOGo_DtTUFoASDMZTUF-1yyO40H03qxbFwx2nE0IiT4JRFMTNPqOU-pASODyDVOtBE2d5i7fRXToo5EhH3kJot73lfJhzKe-R9RQewJvhLF9nfRUJKYQeXmlr7eebgCjm3fiwRHLLr6VH62Tf6HxQn4sXIFgc=w327-h328-no?authuser=0" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">Andongwisye Mwamengo</div>
                    <p class="category text-white">Full Stack Stack Developer</p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                    <a class="btn btn-primary" href="https://drive.google.com/file/d/1BnXU7pQVZWvv4NMPfi0wTytKwJwzrwek/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/andongwisye-mwamengo-57b60a175/" target="_blank" rel="tooltip" title="Follow me on LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://stackoverflow.com/users/11559177/andongwisye-mwamengo" target="_blank" rel="tooltip" title="Follow me on Stack Overflow">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/mwamengo_" target="_blank" rel="tooltip" title="Follow me on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/andymwamengo" target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>