<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="https://lh3.googleusercontent.com/a-/AOh14Giq6R_sHlY0X9x2gYSv4PPvKG4raMjrYS8TVos4Mw=s96-c-rg-br100" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">Andongwisye Mwamengo</div>
                    <p class="category text-white">Full Stack Stack Developer</p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                    <a class="btn btn-primary" href="https://drive.google.com/file/d/1BnXU7pQVZWvv4NMPfi0wTytKwJwzrwek/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/andongwisye-mwamengo-57b60a175/" target="_blank" rel="tooltip" title="Follow me on LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://stackoverflow.com/users/11559177/andongwisye-mwamengo" target="_blank" rel="tooltip" title="Follow me on Stack Overflow">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/mwamengo_" target="_blank" rel="tooltip" title="Follow me on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/andymwamengo" target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>